div{
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
    background: radial-gradient(red ,blueviolet);
    border-radius: 3%;
}

.sub{

    background-color: lightseagreen;
    color:antiquewhite;
    padding: 5px 20px;
    margin: 10px;
    box-shadow: -1px 3px 8px yellow;
}

b
